#contenedorTabla{
    counter-reset: rows;
}
table tbody tr{
    counter-increment: rows;
}
table .total:before{
    content: counter(rows);
}
.iconTabla{
    width: 16px; 
    height: 16px; 
    fill: currentColor;
}
.cabeceraTabla{
    margin-left: 0.5rem;
}